---
import Layout from "../layouts/Layout.astro";
import Languages from "../components/Languages";
import Projects from "../components/Projects";
---

<Layout title="Portfolio">
  <main>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div
      class="p-auto m-auto rounded-xl border-gray-900 bg-gray-900 sm:w-250 md:w-550 lg:w-750"
    >
      <br />
      <br />
      <img
        src="/images/icon.png"
        alt="Logo"
        class="p-auto m-auto rounded-3xl border-gray-900 pb-15 pt-10 pl-3"
      />
      <h1 class="pb-10 pl-5 pt-15 text-2xl font-bold">Yoshiboi18303</h1>
      <br />
      <br />
      <Languages />
      <br />
      <br />
      <Projects />
      <br />
      <br />
    </div>
  </main>
</Layout>
